# Postgres
POSTGRES_USER=platform
POSTGRES_PASSWORD=platform
POSTGRES_DB=platform
POSTGRES_PORT=5432

# Kafka
KAFKA_PORT=9092
ZOOKEEPER_PORT=2181
KAFKA_UI_PORT=8080

# Topics
KAFKA_TOPIC_EVENTS=events
KAFKA_TOPIC_EVENTS_PARTITIONS=3
KAFKA_TOPIC_DLQ=events_dlq

# Adminer
ADMINER_PORT=8081
